<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="course.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <script src="course.js">
        </script>
    <title>Курс IT-волонтёра</title>
</head>
<body>
    <header>
    <img src={{ url_for('static', filename='images/photo2.png') }} alt=УлГПУ id="header-img">
       <h2>IT HUB</h2>
        <nav id="navbar">
            <ul class="nav-list">
                <li>
                    <a class="links_pages" href="">Новости</a>
                </li>
                <li>
                    <a class="links_pages" href="">Обучение</a>
                </li>
                <li>
                    <a class="links_pages" href="">Доска объявлений</a>
                </li>
                <li>
                    <a href="" id="personal-account">Личный кабинет</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="divBlock">
            <button onclick="backFunction()" class="pointer"> &#9776 </button>
            <article id="backDIV" class="clicked">
                <ul class="link">
                    <li>
                        <a class="first" href="">Новости</a>
                    </li>
                    <li>
                        <a class="second" href="">Обучение</a>
                    </li>
                    <li>
                        <a class="third" href="">Доска объявлений</a>
                    </li>
                    <li>
                        <a class="fourth" href="">Личный кабинет</a>
                    </li>
                </ul>  
            </article>
            </div>
    <h3 id="IT">Курс IT-волонтёра</h3>
    <div class="text"> 
        <p>Обязательные нывыки IT-волонтёра</p>
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        In itaque dolor vitae praesentium consectetur molestias consequatur 
        voluptatem rem dolore nihil officiis voluptates aperiam asperiores, 
        saepe iure repudiandae expedita natus eaque magnam tempore delectus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        In itaque dolor vitae praesentium consectetur molestias consequatur 
        voluptatem rem dolore nihil officiis voluptates aperiam asperiores"
    </div>
    <div class="text2">
        <p>Введение в работу с системой контроля версий Git</p>
        <p>Знакомство с GitHub</p>
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        In itaque dolor vitae praesentium consectetur molestias consequatur 
        voluptatem rem dolore nihil officiis voluptates aperiam asperiores, 
        saepe iure repudiandae expedita natus eaque magnam tempore delectus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        In itaque dolor vitae praesentium consectetur molestias consequatur 
        voluptatem rem dolore nihil officiis voluptates aperiam asperiores"
        <p id="link">Ссылка на:</p> <a href=""></a>
    </div>
    
    </main>
    <footer>
        <img src={{ url_for('static', filename='imagesimage1.jpeg') }} alt=ФФМиТО id=fmito-img>
        <h3>IT HUB - МЕСТО ГДЕ СОБИРАЮТСЯ IT-ВОЛОНТЁРЫ</h3>
        <img src={{ url_for('static', filename='imagesvk.jpg') }} alt=vk id=vk-img>
        <img src={{ url_for('static', filename='imagestg.jpg') }} alt=tg id=tg-img >
    </footer>
</body>
</html>