<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" 
     rel="stylesheet">
    <title>News</title>
</head>
<body>
    <header>
     <img src="image2.jpeg" alt="УлГПУ" id="header-img">
       <h2>IT HUB</h2>
        <nav id="navbar">
            <ul class="nav-list">
                <li>
                    <a href="">Новости</a>
                </li>
                <li>
                    <a href="">Обучение</a>
                </li>
                <li>
                    <a href="">Доска объявлений</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>НОВОСТИ</h1>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
              pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
              culpa qui officia deserunt mollit anim id est laborum."
        </p>

        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
              pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
              culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </main>
    <footer>
        <img src="image1.jpeg" alt="ФФМиТО" id="footer-img">
        <img src="vk.jpg" alt="vk" id="vk-img" >
        <img src="tg.jpg" alt="tg" id="tg-img" >
    </footer>
</body>
</html>