<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Zen+Maru+Gothic:wght@300&display=swap" 
rel="stylesheet">
<title>Login form</title>
<link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
<header class="header">
<h2 class="text-logo">IT HUB</h2>
</header>
<main>
<div class="background">
<div class="circle"></div>
<div class="circle"></div>
</div>
<form method="POST" , action="{{ url_for('') }}">
<input type="text" placeholder="Username" id="username">
<input type="password" placeholder="Password" id="password">
<button>Войти</button>
</form>
</main>
<footer class="footer">
<img src="../static/images/image1.jpeg" alt="ФФМиТО" class="img1">
<img src="../static/images/image2.jpeg" alt="УлГПУ" class="img2">
<h3 class="text-slogan">IT HUB - МЕСТО ГДЕ СОБИРАЮТСЯ IT-ВОЛОНТЁРЫ</h3>
</footer>
</body>
</html>