<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login form</title>
<link href="stytles.css" rel="stylesheet">
</head>
<body>
<header>
<h2>IT HUB</h2>
</header>
<main>
<div class="background">
<div class="circle"></div>
<div class="circle"></div>
</div>
<form method="POST" , action="{{ url_for('') }}">
<input type="text" placeholder="Username" id="username">
<input type="password" placeholder="Password" id="password">
<button>Войти</button>
</form>
</main>
<footer>
<img src="image1.png" alt="ФФМиТО" class="img1">
<img src="image2.png" alt="УлГПУ" class="img2">
<h3>IT HUB - МЕСТО ГДЕ СОБИРАЮТСЯ IT-ВОЛОНТЁРЫ</h3>
</footer>
</body>
</html>