<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница Обучения</title>
    <link href="obychenie.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  </head>
  <body>
  <header>
    <nav>
      <img src="photo1.png" alt="УлГПУ" class="img2"><h3 class="solo">IT HUB</h3>
      <ul class="nav-links">
      <li><a href="#"> Новости </a></li>
      <li><a href="#"> Обучение </a></li>
      <li><a href="#"> Доска Объявлений </a></li>
      </ul>
      </nav>  
    <a class="cta" href="#"><button>Личный кабинет</button></a>
  </header>
    <main>
  <div class="dropdown">
      <button class="dropbtn">Курс IT-волонтёров</button>
      <div class="dropdown-content">
        <a href="#"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
           reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
           pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
           culpa qui officia deserunt mollit anim id est laborum."
          <button class="start">Начать</button>
        </a>
      </div>
    </div>
  <div class="gui">
    <p><button class="guide">Гид по front-end разработке</button></p>
    <p><button class="guide">Гид по back-end разработке</button></p>
        </div>
      </main>
      <footer>
        <img src="photo2.png" alt="УлГПУ" class="img">
        <h3>IT HUB - МЕСТО ГДЕ СОБИРАЮТСЯ IT-ВОЛОНТЁРЫ</h3>
        <img src="vk.jpg" alt="vk" id="vk-img">
        <img src="tg.jpg" alt="tg" id="tg-img">
      </footer>
  </body>
  </html>