body {
  font-family: 'Zen Maru Gothic', sans-serif;
  height: 100%; 
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

header {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

#header-img {
  height:150px;
  padding-left: 50px;
  padding-top: 15px;
  }

h2 {
  font-size: 55px;
  padding-left: 40px;
  padding-top: 0;
  color: #f0f0f0;
  }

a {
  text-decoration: none;
  color: #f0f0f0;
  }
    
ul {
  list-style: none;
  display: flex;
   padding-top: 0;
  }
    
li {
  margin-left: 5rem;
  margin-right: 10rem;
  font-size: 35px;
 }

main {
  background-color: #d9d9d9;
  height: 100%;
  padding: 300px;
  display: block;
  justify-content: center;
  align-items: center;
  }

h1 {
  font-size: 60px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
  padding-top: 0;
  vertical-align:middle;
}

p {
  font-size: 40px;
  border: 2px solid #111;
  border-radius: 0.5em;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #f0f0f0;
  padding: 150px;
}

footer, header {
background-color: #282727;
}

footer {
  height: 350px;
  width: 100%;
  box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-img {
  height:250px;
  padding-top: 15px;
  top: 80%;
  left: 50%;
  }
#vk-img {
  height: 50px;
  text-align: center;
}
#tg-img {
  height: 50px;
  text-align: center;
}

