html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    height: 100%; 
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #d9d9d9;
  }
  
  header {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    height:120px;
    margin-bottom: 25px;
  }
  
  .navbar{
    font-size: 18px;
    display: inline-block;
    float: none;
  }
  
  #header-img {
    height: 80%;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    }
  
  h2 {
    font-size: 45px;
    padding-left: 40px;
    padding-top: 0;
    color: #f0f0f0;
    }
  
  a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .links_pages:hover{
    text-decoration: underline;
  }
      
  ul {
    list-style: none;
    display: flex;
    padding-top: 0;
    }
      
  li {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 30px;
   }
  
   #personal-account {
    font-size: 18px;
    border: 1px solid #FAEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    padding: 20px;
    vertical-align: middle;
   }
   
   #personal-account:hover{
    color: #282727;
    background-color: #F0F0F0;
    border: 1ps solid #282727;
   }
  
  main {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  
  footer, header {
  background-color: #282727;
  }
  
  footer {
    width: 100%;
    box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    bottom: 0;
    position: relative;
  }
  
  #fmito-img {
    height: 50%;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #vk-img {
    height: 25px;
    text-align: center;
    position:relative;
    top: 50px;
    right: 22%;
    padding-right: 25px;
  }
  #tg-img {
    height: 25px;
    text-align: center;
    position:relative;
    top: 50px;
    right: 22%;
  }
  h3 {
    margin: 7px 0;
    color: whitesmoke;
    font-weight: 100;
  }
#IT {
  color: #282727;
  font-size: 25px;
  margin-top: 5px;
}
.text {
  color: #f0f0f0;
  background-color:#282727;
  width: 450px;
  height: 260px;
  border: solid 1px black;
  border-radius: 25px;
  padding: 5px 20px 15px 20px;
  margin-top: 10px;
  z-index: 10;
}
.text2 {
  color: #f0f0f0;
  background-color:#282727;
  width: 450px;
  height: 350px;
  border: solid 1px black;
  border-radius: 25px;
  padding: 5px 20px 15px 20px;
  margin-top: 20px;
}
#link {
  padding-right: 75%;
}

.links_pages:hover{
  text-decoration: underline;
}
.link {
  color: black;
  list-style: none;
  display: flex;
  padding-top: 0; 
  font-size: 11pt;  
  font-weight: bold;  
  flex-direction: column;
  width: 400px;  
  height: 40%;
  position: absolute;
  margin-right: 200px;
  }
    
li {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 30px;
 }
 
 .divBlock {
  margin-right: 1300px;
  
 }
 .first, .second, .third, .fourth {
  color: #282727;
  margin-right: 200px;
 width: 100%;
  display: flex;
  padding-right: 400px;
  margin-top: 10px;
 }
 .pointer {
  font-size: 40px;
  border: 0;
  background-color: #d9d9d9 ;
 }
 .pointer:hover {
  font-size: 40px;
  border: 0;
  background-color: #d9d9d9 ;
 }
 .clicked{display:none;}
  